body{
    background-color: black;
    min-height: 100vh;
}
.all{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image:    url(backgroundimg.jpg);
  background-size:     cover;                    
  background-repeat:   no-repeat;
  background-position: center center;   
  
}
.logo{
    height: 7vw;
    width: 7vw;
    padding: 1.5vh;
}



.nav{
    height: 20%; 
    background:rgba(255,255,255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}
.ShopName{
    width: 25vw;
}

.admin{
  display: flex;
  justify-content: center;
  align-items: center;
  color:white;
  font-size: 10px;
  margin-left: 20vw;
  padding: 15px;
  border-radius: 10%;
  width: 90px;
  height: 25px;
  background:rgba(0,0,0, 0.8);
  border: 3px solid black;
}

.admin-pannel{

  text-align: center;
  margin: 20px;
}
.admin-day{
  background-color: rgb(0,0,0, 0.4);
  font-size:2.5vw ;
  margin: 0;
}
.admin-data{
  background-color: rgb(0,0,0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;


}
.admin-data-type{
  width: 15vw;
  color: #f1f1f1;
  font-size: 2.6vw;
  margin: 5vw;
}
.admin-data-recieved{
  border: 0;
  font-size: 2vw;
  padding: 5px;
  padding-left: 4vw;
  margin: 5px;;
  margin-right:5vw ;
  
}

.chert{
  border: 0ch;
}

  .middle{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
 
  }
  
  .about-text{
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    text-align: center;
    font-size: 2vw;
    padding: 25px;
    margin: 25px;
  }
  .chair{
      align-self: end;
      padding: 25px;
      margin: 25px;
  }

  .circleBase {
    border-radius: 50%;
  }

  .type1 {
    width: 15vw;
    height: 15vw;
    background:rgb(255,255,255, 0.8);
    border: 3px solid white;
  }

 .reserve{
   background-color: rgb(34, 54, 54, 0.3);
   color: white;
   margin: 5vw;
   padding: 2.5vw;
   text-align: center;
 }
 
.barber-select p {
  width: 45%;
  padding: 1vh;
  margin: 5px;
}
.barber-select{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.barber-select-top{
  display: flex;
  justify-content: center;
}
.barber{
  background-color: rgb(0,0,0, 0.7);
  font-size: 1.9vw;
}

.back-button{
  margin-right: auto;
  width: 34px;
  padding: 5px;
  
}

.service{
  display: flex;
  justify-content: center;
  align-items: center;

  width: 45%;
}

.service-time{
  justify-self: flex-start;
}

.reserve-page{
  margin: 10px;
  padding: 10px;
}
.reserve-page h2{
  font-size: 12px;
}

.reserve-dates{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row-reverse;
}
.reserve-dates p{
  font-size: 20px;
}

.time{
  font-size: 1.5vw;
  padding: 10px;
  margin: 15px;
  margin-left: 25px;
}

.form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(27, 18, 18, 0.2);
}
.form-input{
  padding: 2vw;
}
.input{
  font-size: 20px;
  background-color: rgba(130, 199, 199, 0.2);
  width: 50vw;
  height: 40px;
}
.form-button{
  display: flex;
  justify-content:center ;
  align-items: center;
  font-size: 25px;
  color: green;
  height: 45px;
  width: 125px;
  cursor: pointer;
  background-color: rgb(0,0,0, 0.5);
}
.footer{
  margin-top: auto;
  background-color:rgb(255,255,255, 0.8);
  display: flex;
  flex-direction: column;
}

.footer-top{
  display: flex;
  color: black;
}
.footer-top-box{
  display: flex;
  align-items: center;
  width: 50%;
}

.footer-top-box p {
  font-size: 14px;
  font-weight: bold;
  margin: 5px;
  padding-left: 5px;
}


.phone-number{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 49vw;
}
.footer-top-box-2{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.footer-top-box-2 img {
  width: 25px;
  
}
.arrow{
  width: 18px;
  height: 18px;
}
.adress{
  margin-left: auto;
  padding-right: 24px;
}
.adress p {
  font-weight: bold;
  padding: 0px;
}
.copyright{
  background-color: rgb(0,0,0, 0.75);
  color: #f1f1f1;
  font-size: 10px;
}


  @media only screen and (max-width: 600px) {
    .logo{
        height: 10vw;
        width: 10vw;
        padding: 1.5vh;
    }
    .type1 {
        width: 40vw;
        height: 40vw;
      }
    .middle{                  /* <------ */  
      }
    .back-button{
      margin-right: auto;
      width: 24px;
      padding: 5px;
        
      }      

    .about-text{
        font-size: 20px;
    }
    .barber{
      font-size: 3.5vw;
    }
    .barber-select p {
      width: 70%;
    }
    .service{
      width: 70%;
    }
    .time{
      font-size: 3.5vw;
    }
    .reserve-dates p {
      font-size: 10px;
    }
    .admin{
      margin-left: 10vw;
      width: 70px;
      height: 20px;
      padding: 8px;
      font-size: 6px;
    }
    .admin-text{
      padding-bottom: 2px;
    }
    .admin-data-type{
      width: 25vw;
      font-size: 3vw;
      padding: 10px;
      margin: 0px;
    }
    .admin-data-recieved{
      padding: 5px;
      padding-left: 1px;
      margin: 5px;
    }
    .footer-top-box p {
      font-size: 10px;
      font-weight: bold;
    }
    .footer-top-box-2{
      font-size: 10px;
      font-weight: bold;
      color: black;
    }
    .copyright{
      background-color: rgb(0,0,0, 0.75);
      color: #f1f1f1;
      font-size: 8px;
    }
    
  }
 









  